:root {
    --offset: 2em;
}

html, body {
    margin: 0;
    padding: 0;
}

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    padding-bottom: 0;
}

.header, .footer, .content {
    padding: var(--offset);
}

.header .header-title {
    margin-bottom: calc(var(--offset) / 4);
    font-size: 5em;
}

@media (min-width: 900px) {
    .chart-list {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .chart .chart-latest,
    .chart .chart-before {
        width: 50%;
    }

    .chart .chart-list.only-latest .chart-latest {
        width: 100% 
    }
}

.chart .chart-title {
    font-size: 2em;
    margin: calc(var(--offset) / 4) 0;
}

.chart .chart-result {
    font-size: 1.2em;
    margin-bottom: var(--offset);
}

