:root {
    --offset: 2em;
}

html, body {
    margin: 0;
    padding: 0;
}

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .footer, .content {
    padding: var(--offset);
}

.header .header-title {
    margin-bottom: calc(var(--offset) / 4);
}

