:root {
    --offset: 2rem;
}

html, body {
    margin: 0;
    padding: 0;
}

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: calc(var(--offset) * 1.3);
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.app-menu {
    display: flex;
}

.app-menu > * {
    margin-left: var(--offset) !important;
}

.header, .footer, .content, .tab-content {
    padding: var(--offset);
}

.header {
    padding-bottom: 0;
}


.header .header-title {
    margin-bottom: calc(var(--offset) / 4);
    font-size: 5em;
}

.chart {
    padding: var(--offset);
    box-sizing: border-box;
    margin: var(--offset) 0;
}

@media (min-width: 900px) {
    .chart-list {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .chart .chart-latest,
    .chart .chart-before {
        width: 50%;
    }

    .chart .chart-list.only-latest .chart-latest {
        width: 100% 
    }
}

.chart .chart-title {
    font-size: 2em;
    margin: calc(var(--offset) / 4) 0;
}

.chart .chart-result {
    font-size: 1.2em;
    margin-bottom: var(--offset);
}

.content .content-text p, .content .content-text h2 {
    margin-bottom: calc(var(--offset) / 4);
}

.content .content-text h2 {
    margin-top: calc(var(--offset) / 4);
}

